* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
}
/* banner_section starts */
.banner_section {
  background-image: url("/images/donate.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner_content {
  text-align: center;
  padding: 90px 0;
  background: linear-gradient(356deg, #000000 0%, rgba(18, 18, 18, 0) 100%);
}
.banner_content h1 {
  font-weight: 700;
  font-size: 65px;
  color: #ffffff;
  line-height: 79px;
}
.banner_content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: rgb(255, 255, 255);
  padding: 2% 20% 3% 20%;
}
a.link_button {
  text-decoration: none;
  background: #ff5959;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding: 15px;
  border-radius: 5px;
}
/* banner_section ends */
/* donation starts */
.donate_now_container {
  padding: 3% 5%;
}
.donate_despcription {
  text-align: center;
}
.donate_despcription h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: #121212;
}
.donate_despcription p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #707070;
}
.donate_despcription {
  text-align: center;
  padding: 0 17%;
}
.donation_amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.donation_amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4% 15%;
}
.donation_amount h2 {
  padding: 29px 15px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  background: #7070702e;
  color: #707070;
  border-radius: 5px;
}
.other_donation_amount {
  position: relative;
  padding: 2% 43%;
}
input#name {
  border: none;
}
hr.horizontal_line {
  position: absolute;
  width: 70%;
  left: 15%;
}
