* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
}
/* banner_section starts */
.banner_section {
  background-image: url("/images/donate.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner_content {
  text-align: center;
  padding: 90px 0;
  background: linear-gradient(356deg, #000000 0%, rgba(18, 18, 18, 0) 100%);
}
.banner_content h1 {
  font-weight: 700;
  font-size: 65px;
  color: #ffffff;
  line-height: 79px;
}
.banner_content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: rgb(255, 255, 255);
  padding: 2% 20% 3% 20%;
}
a.link_button {
  text-decoration: none;
  background: #ff5959;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding: 15px;
  border-radius: 5px;
}
/* banner_section ends */
/* donation starts */
.donate_now_container {
  padding: 3% 5%;
}
.donate_despcription {
  text-align: center;
}
.donate_despcription h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: #121212;
}
.donate_despcription p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #707070;
}
.donate_despcription {
  text-align: center;
  padding: 0 17%;
}
.donation_amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.donation_amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4% 15%;
}
.donation_amount h2 {
  padding: 29px 15px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  background: #7070702e;
  color: #707070;
  border-radius: 5px;
}
.other_donation_amount {
  text-align: center;
}
input#name {
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #b3b3b3;
}
.border_amount {
  border-bottom: 1px solid #dadada;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 45px;
}
/* donate_now_section ends */
/* donate plan started */
section.donate_plan_section {
  padding: 17px 0 100px 0;
}
.donate_plan_descrip {
  width: 100%;
  text-align: center;
}
.donate_plan_card {
  width: 80%;
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-top: 40px;
}
.dontate_plan_card_item {
  background: #4f9da61a;
  margin-left: 33px;
  padding: 65px 25px;
}
.card_img img {
  margin-bottom: 20px;
  width: 20%;
}
.dontate_plan_card_item h5 {
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #121212;
}
.dontate_plan_card_item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #707070;
}
.donate_plan_descrip h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  padding-bottom: 13px;
}
.donate_plan_descrip p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #707070;
}
.color_pink {
  background: #ff59591a;
}
.color_gray {
  background: #fff4d6;
}
/* donate_plan_ends */

/* survival section starts */
.survival_main_container {
  display: flex;
  margin-left: 6%;
  justify-content: space-evenly;
}
.survival_left {
  width: 40%;
}
.survival_right {
  width: 40%;
}
.survival_left_img img {
  width: 82%;
}
.survival_right_descrip h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 50px;
}
.survival_right_descrip p {
  text-align: justify;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: rgb(112, 112, 112);
  margin-top: 15px;
}
p.para {
  margin-bottom: 40px;
}
/* survival section ends */
/* updated section starts */
.update_descp {
  padding: 62px 0;
  text-align: center;
}
.update_descp p {
  padding: 0 30%;
}
.email_subcription_container {
  display: flex;
  justify-content: center;
}
a.subsription_button {
  text-decoration: none;
  background: #ff5959;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding: 10px 10px;
  border-radius: 0px;
  margin-left: 9px;
}
.email_subcription {
  background: #fff4d6;
  padding: 64px 0;
  margin: 0px 13%;
}
input.email {
  padding: 12px 30px;
  font-weight: 500;
  font-size: 16px;
  color: #aa9f9f;
  line-height: 20px;
  text-align: left;
  border: navajowhite;
  background: #d9d9d9;
  border-radius: 5px 0px 0px 5px;
}
.email_input {
  margin: -10px;
}
