* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
}
/* banner_section starts */
.banner_section {
  background-image: url("/images/donation0.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner_content h1 {
  font-weight: 700;
  font-size: 65px;
  color: #ffffff;
  line-height: 79px;
}
.banner_content p {
}
